<?xml version="1.0" encoding="UTF-8"?>
<robot name="realsense_vs6577" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:arg name="sim" default="True" />
    <xacro:include filename="$(find denso_robot_descriptions)/vs6577_description/urdf/vs6577.urdf.xacro"/>
    <xacro:if value="$(arg sim)">
        <xacro:include filename="$(find denso_robot_descriptions)/vs6577_description/urdf/multisensor_holder.urdf.xacro"/>
    </xacro:if>
    <xacro:unless value="$(arg sim)">
        <xacro:include filename="$(find denso_robot_descriptions)/vs6577_description/urdf/real_multisensor_holder.urdf.xacro"/>
    </xacro:unless>
</robot>